<div class="sharing social-bar margin-bottom-30">
    <sly data-sly-use.socialModel="com.axamit.core.model.content.SocialBarModel">
        <div data-sly-test="${!socialModel}">
            <h1>SOCIAL</h1>
        </div>
        <div class="social-icons">
            <sly data-sly-list="${socialModel.items}">
                <div>
                    <a class="social-link" href="${item.link}" data-href="#"
                       data-width="520" data-height="570" target="_blank">
                        <img src="${item.iconPath}" alt="icon">
                    </a>
                </div>
            </sly>
        </div>
    </sly>
    <div class="document-icons">
        <div>
            <button onclick="window.print()">
                <img src="${socialModel.printIcon}" alt="icon">
            </button>
        </div>
        <div class="">
            <a href="mailto:?subject=News&amp;body=http%3A%2F%2Fwww.axamit.com%2Fnews">
                <img src="${socialModel.writeIcon}" alt="icon">
            </a>
        </div>
    </div>
</div>

