<div class="wrapper">
    <main id="container-turbo">
        <div class="s-brands swiper-container swiper-container-horizontal swiper-container-free-mode">
            <sly data-sly-use.brandBarModel="com.axamit.core.model.content.BrandBarModel">
                <div data-sly-test="${!brandBarModel.items}">
                    <h1>BRAND BAR</h1>
                </div>
                <div class="swiper-wrapper" style="transform: translate3d(0px, 0px, 0px); transition-duration: 0ms;">
                    <sly data-sly-list.brand="${brandBarModel.items}">
                        <div class="axamit-brand slide swiper-slide swiper-slide-active">
                            <img class="img-responsive"
                                 src="${brand.imagePath}"
                                 alt="${brand.altText}">
                        </div>
                    </sly>
                </div>
            </sly>
        </div>
    </main>
</div>
