<sly data-sly-use.footerModel="com.axamit.core.model.structure.FooterModel"></sly>
<div data-sly-test="${!footerModel}">
    <h1>FOOTER</h1>
</div>
<div class="footer-v1">
    <div class="copyright">
        <div class="container">
            <div class="row">
                <div class="col-xs-4" role="contentinfo">
                    <p>${footerModel.customTitle}</p>
                </div>
                <div class="col-xs-8" role="navigation">
                    <p class="policy" data-sly-list.res="${footerModel.items}">
                        <a href="${res.path}.html">${res.valueMap['linkText']}</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>