<sly data-sly-include="/libs/wcm/core/components/init/init.jsp"></sly>
<sly data-sly-use.clientLib="/libs/granite/sightly/templates/clientlib.html"></sly>
<sly data-sly-call="${clientLib.css @ categories='axamit.structure'}"></sly>
<div class="wrapper">
    <sly data-sly-resource="${@ resourceType='/apps/axamit/components/structure/header' , selectors='include'}"></sly>
    <main>
        <sly data-sly-resource="${'parcontent' @ resourceType='wcm/foundation/components/parsys'}"></sly>
    </main>
    <sly data-sly-resource="${ @ resourceType='/apps/axamit/components/structure/footer' , selectors='include'}"></sly>
</div>
<sly data-sly-call="${clientLib.js @ categories='axamit.structure'}"></sly>