<div class="col-md-3 hide-for-print sidebar" role="navigation" style="position: relative;z-index: 10;top: 0;">
    <sly data-sly-resource="${'social' @resourceType='/apps/axamit/components/content/social'}"></sly>
    <sly data-sly-resource="${'rightrail' @resourceType='/apps/axamit/components/content/rightrail'}"></sly>
    <sly data-sly-resource="${'twitter' @resourceType='/apps/axamit/components/content/twitter'}"></sly>
</div>