<sly data-sly-use.teamServletModel="com.axamit.core.model.content.TeamServletModel"></sly>
<div data-sly-test="${!teamServletModel}">
    <h1>SERVLET TEAM MODEL</h1>
</div>
<div class="container content-sm">
    <div class="headline-center margin-bottom-60">
        <h2 class="axamit-h2-line-small">${teamServletModel.title}</h2>
        <p>${teamServletModel.description}</p>
    </div>
    <div class="axamit-team-v3">
        <sly data-sly-list.member="${teamServletModel.members}">
            <div class="col-md-3 col-sm-6 md-margin-bottom-50 text-center col-nopadding">
                <div class="team-img">
                    <img class="img-responsive" src="${member.imagePath}" alt="${member.firstName} ${member.lastName}">
                    <div class="team-hover">
                        <div class="name">${member.firstName}<br>${member.lastName}</div>
                        <div class="role">${member.role}</div>
                    </div>
                </div>
            </div>
        </sly>
    </div>
    <script type="text/javascript">
        window.addEventListener("load", function () {
            $(".team-hover").on("click", function () {
                $(this).toggleClass("active")
            })
        }, !1)
    </script>
</div>