<sly data-sly-use.tweetConfig="com.axamit.core.model.content.TweetModel"></sly>
<div data-sly-test="${!tweetConfig}">
    <h1>TWEETER </h1>
</div>
<div class="blog-twitter margin-bottom-30 col-lg-3">
    <div class="headline-v2">
        <h2>${tweetConfig.tweetTitle}</h2>
    </div>
    <div class="blog-twitter-inner">
        <a class="twitter-timeline"
           href="${tweetConfig.tweetLink @context='html'}"
           data-chrome="nofooter noborders"
           data-tweet-limit="${tweetConfig.tweetLimit}">
            <i class="fa fa-twitter"></i>
            ${tweetConfig.tweetDescription}
        </a>
        <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    </div>
</div>



