<sly data-sly-use.headerModel="com.axamit.core.model.structure.HeaderModel"></sly>
<div data-sly-test="${!headerModel}">
    <h1>HEADER</h1>
</div>
<header style="position: relative;z-index: 10;top: 0;">
    <div class="header-slider-progress"></div>
    <div class="header-inner">
        <a class="header-brand" href="#"><span class="screen-reader">AXAMIT logo</span>
            <div class="axamit-sprite axamit-sprite-logo-v1"><img src="${headerModel.file}" alt="file_name"/></div>
            <div class="axamit-sprite axamit-sprite-logo-footer-v1"></div>
        </a>
        <div class="links links-wide" data-sly-list.res="${headerModel.items}">
            <a data-menuactivation="company" href="${res.path}.html" class="">
                ${res.valueMap['linkText']}
                <span class="axamit-sprite axamit-sprite-menu-bullet"
                      style="vertical-align: middle; margin-bottom: 4px">
                </span>
            </a>
            <div class="dropdown-content s-dropdown&#45;&#45;company" style="right: 40px">
                <div class="col" data-sly-list="${res.children}">
                    <a data-menuactivation="about" class="link-block" href="${item.path}.html">
                        <div class="link-block-inner">
                            <div class="s-title">${item.name}</div>
                            <div class="s-subtitle">${item.valueMap['jcr:created']}</div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</header>
