<sly data-sly-use.resourceModel="com.axamit.core.model.content.PathResourceModel"></sly>
<p>${resourceModel.initTime} ms - initialized time</p>
<div class="row">
    <div class="col-md-12">
        <div class="testimonials-info-darker">
            <div class="testimonials-axamit">
                <div class="row" data-sly-list.resource="${resourceModel.collection}">
                    <div class="col-md-6">
                        <a style="margin-top: 10px" href="${resource.path}.html" class="block-link link-turbo">
                            <div class="testimonials-info" style="cursor: pointer">
                                <div class="testimonials-desc-min100 testimonials-desc bg_ser_management">
                                    <h3>${resource.name}</h3>
                                    <p>${resource.resourceType}</p>
                                    <p>${resource.path}</p>
                                    <div class="btn read-more-red">Click</div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>