<sly data-sly-use.carouselModel="com.axamit.core.model.content.CarouselModel"></sly>
<div data-sly-test="${!carouselModel.items}">
    <h1>CAROUSEL</h1>
</div>
<main id="container-turbo">
    <div class="axamit-slider-v1" role="banner">
        <sly data-sly-list="${carouselModel.items}">
            <div data-thumb="" class="slide-container slide-container-1">
                <img src="${item.slideImage}" alt="kjasfbdksgnf">
                <div class="overlay">
                    <div class="header">
                        <h1 style="height: auto;">${item.slideTitle}</h1>
                        <h2 style="height: auto;">
                            <span>${item.slideDescription}</span>
                            <a href="${item.slideLinkUrl}.html" class="link-turbo axamit-learn-more firstBtn">
                                ${item.slideLinkText}
                            </a>
                            <a href="${item.slideLinkUrl}.html" class="link-turbo axamit-learn-more secondBtn">
                                <span class="screen-reader">${item.slideLinkText}</span>
                                <i class="fa fa-chevron-right"></i>
                            </a>
                        </h2>
                    </div>
                    <div class="s-solution-partner-badge s-ad-badge">
                        <img src="${item.slideSmallImage}" class="solution-partner-badge" alt="Solution partner">
                    </div>
                </div>

                <div class="slider-button slider-button-previous">❮</div>
                <div class="slider-button slider-button-next">❯</div>
                <div class="slider-progress moving"></div>
            </div>
        </sly>
        <a href="#" class="back-to-top" style="display: inline-block;"><i class="fa fa-chevron-down"></i></a>
    </div>
</main>