<sly data-sly-use.rightRailModel="com.axamit.core.model.content.RightRailModel"></sly>
<div data-sly-test="${!rightRailModel.items}">
    <h1>RIGHT RAIL</h1>
</div>
<sly data-sly-list.contact="${rightRailModel.items}">
    <div class="headline-v2">
        <h2>${contact.title}</h2>
    </div>
    <ul class="list-unstyled who margin-bottom-30 axamit-special-dark-links">
        <li>
            <a href="tel:${contact.phoneNumber}"><i class="fa fa-phone"></i>${contact.phoneNumber}</a>
        </li>
        <li>
            <a href="mailto:${contact.email}"><i class="fa fa-envelope"></i>${contact.email}</a>
        </li>
        <li>
            <a href="skype:${contact.skype}"><i class="fa fa-skype"></i>${contact.skype}</a>
        </li>
    </ul>
</sly>